<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.organization.city.mapper.CityInfoMapper">

    <resultMap id="pageQueryCityInfo" type="com.sh.api.organization.city.vo.query.CityQueryVo">
        <result property="cityId" column="city_id"/>
        <result property="city3Code" column="city_3code"/>
        <result property="cityNameCn" column="city_name_cn"/>
        <result property="cityNameEn" column="city_name_en"/>
        <result property="cityTimeZone" column="city_time_zone"/>
        <result property="cityNameAllSpell" column="city_name_all_spell"/>
        <result property="cityNameHeadSpell" column="city_name_head_spell"/>
        <result property="cityPopular" column="city_popular"/>
        <result property="country2Code" column="country_2code"/>
    </resultMap>

    <select id="pageQueryCityInfo" resultMap="pageQueryCityInfo">
        select city_id,city_3code,city_name_cn,city_name_en,city_time_zone,city_name_all_spell,city_name_head_spell,city_popular,country_2code
        from city_info
        <where>
            del_flag = '0'
            <if test="query.cityNameCn != null and query.cityNameCn != ''">
                and city_name_cn like concat('%',#{query.cityNameCn},'%')
            </if>
            <if test="query.cityNameEn != null and query.cityNameEn != ''">
                and city_name_en like concat('%',#{query.cityNameEn},'%')
            </if>
            <if test="query.cityPopular != null and query.cityPopular != ''">
                and city_popular like concat('%',#{query.cityPopular},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
